<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="iTextSharp" version="5.5.0" targetFramework="net45" />
  <package id="MahApps.Metro" version="0.12.1.0" targetFramework="net45" />
  <package id="MahApps.Metro.Resources" version="0.1.0.1" targetFramework="net45" />
  <package id="NetOffice.Core" version="1.6.0.0" targetFramework="net45" />
  <package id="NetOffice.Core.Net40" version="1.6.0.0" targetFramework="net45" />
  <package id="NetOffice.Outlook" version="1.6.0.0" targetFramework="net45" />
  <package id="NetOffice.Word" version="1.6.0.0" targetFramework="net45" />
</packages>